/* root variables */

:root {
  --main: rgb(236, 172, 94);
  --secondary-dark: rgb(9, 3, 1);
  --secondary-medium: rgb(64, 64, 64);
  --secondary-bright: rgb(231, 228, 225);
}

/* mobile first */

html {
  margin-top: 3rem;
  left: 0;
  font-size: 13px;
  overflow-x: hidden;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .html {
    font-size: 15px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .html {
    font-size: 16px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  align-content: center;
  min-height: 100vh;

  font-family: "Lato", sans-serif;
  /* padding-top: 2rem; */
  /* background-color: var(--secondary-bright); */
  left: 0;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .container {
    padding-top: 2rem;
    /* justify-content: center; */
  }
}

/* navbar */

.navbar {
  position: fixed;
  width: 100vw;
  background-color: var(--secondary-dark);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 2;
  font-family: "Lato", sans-serif;
}

.navbar__logoIMG {
  height: 1.9rem;
}

.navbar__links__menuButton:hover {
  background-color: var(--secondary-bright);
  color: var(--secondary-dark);
}

.navbar__links > * {
  color: var(--secondary-bright);
  margin-right: 3rem;
  border: none;
}

.navbar__links__menuButton {
  background-color: var(--secondary-dark);
  color: var(--secondary-bright);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.navbar__links--link {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--secondary-dark);
  color: var(--secondary-bright);
  transition: 0.1s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar_toggleMenu {
  position: absolute;
  background-color: var(--secondary-dark);
  color: var(--secondary-bright);
  width: 100%;
  top: 0;
  right: 0;
  margin-top: 2.9rem;
  text-align: center;
}

.hidden {
  display: none;
}

.navbar_toggleMenu > ul {
  list-style: none;
  padding-left: 0;
}

.navbar_toggleMenu > ul > li {
  padding: 0.5rem;
  transition: 0.1s ease-in-out;
}

.navbar_toggleMenu > ul > li:hover {
  background-color: var(--secondary-bright);
  color: var(--secondary-dark);
}

.navbar_toggleMenu > ul > li:hover a {
  background-color: var(--secondary-bright);
  color: var(--secondary-dark);
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .navbar_toggleMenu {
    width: 50%;
    margin-right: 1rem;
  }
  .navbar__links__menuButton {
    padding-right: 3rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .navbar_toggleMenu {
    width: 25%;
  }
}
/* ------header----------------- */

.header {
  font-family: "Lato", sans-serif;
  padding: 0.5rem;
  padding-right: 0.3rem;
  margin-bottom: 3rem;
}

.header__title {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
  color: white;
}

.header__subtitle {
  text-align: center;
  font-size: 1rem;
}

.header__intro {
  text-align: justify;
  font-size: 0.8rem;
  margin-bottom: 2.5rem;
}

.header__divider {
  background-color: black;
  width: 100%;
  height: 2.2rem;
}

/* larger mobiles ----------- */
@media only screen and (min-width: 268px) {
  .header {
    padding: 2rem;
  }

  .header__title {
    font-size: 1.7rem;
  }

  .header__subtitle {
    font-size: 1.2rem;
  }

  .header__intro {
    font-size: 1rem;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .header {
    padding: 2.5rem;
  }

  .header__title {
    font-size: 1.9rem;
  }

  .header__subtitle {
    font-size: 1.4rem;
  }

  .header__intro {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .header {
    padding: 4rem;
  }

  .header__title {
    font-size: 2.1rem;
  }

  .header__subtitle {
    font-size: 1.6rem;
    margin-top: 4rem;
  }

  .header__intro {
    font-size: 1.2rem;
    margin-bottom: 5rem;
    line-height: 1.9rem;
    padding: 0.8rem;
  }
}

/* ------------------------------ */

.weekProjectDisplay {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weekProjectDisplay_projectBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekProjectDisplay_heading {
  width: 100vw;
  background-color: var(--secondary-bright);
  text-transform: uppercase;
  color: var(--secondary-dark);
  padding: 0.4rem;
  text-align: center;
  opacity: 0.7;
}

/* template card */
.projectCard {
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--secondary-bright);
  border-radius: 5px;
  position: relative;
}

.projectCard > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.projectCard_image_div,
.projectCard_image {
  height: 54vw;
  /* width: 100vw; */
  background-color: darkgrey;
  object-fit: cover;
}

.projectCard_title {
  background-color: white;
  padding: 0.4rem;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .projectCard_image_div,
  .projectCard_image {
    /* width: 60vw; */
    height: 11vw;
  }
  .projectCard {
    width: 20vw;
  }
  .weekProjectDisplay_projectBoard {
    flex-direction: row;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .projectCard_image_div,
  .projectCard_image {
    /* width: 24vw; */
    height: 11vw;
  }
  .projectCard {
    width: 20vw;
  }
  .weekProjectDisplay_projectBoard {
    flex-direction: row;
  }
}

.projectCard_image_div_IMG {
  width: 100%;
  object-fit: contain;
}

.projectCard_colaborators {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projectCard_colaborators--div {
  position: relative;
  width: 15%;
  height: 15%;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.projectCard_colaborators--image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: grayscale(0);
  transition: all 0.3s ease 0s;
}

.projectCard_colaborators--div:hover .projectCard_colaborators--image {
  transform: scale(0.9);
  filter: grayscale(1);
}

/* collaborator image github link */

.projectCard_imageLink_description {
  color: var(--secondary-dark);
  font-family: "Lato", sans-serif;
  text-align: justify;
  background-color: white;
  padding: 0.6rem;
  font-size: 0.8rem;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .projectCard_imageLink_description {
    font-size: 1rem;
  }
}

/* github link button */

.projectCard_github {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: var(--secondary-dark);
  color: #ffffff !important;
  padding: 11px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.projectCard_github:hover {
  padding: 10px;
  color: var(--secondary-dark) !important;
  background-color: var(--secondary-bright);
  border: 1px solid var(--secondary-dark);
}

.projectCard__delete_button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.projectCard__delete_button:hover {
  transform: scale(1.5);
}

/* login form */

.ProjectsForm {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 60vh;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: space-between;
}

.ProjectsForm__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProjectsForm__form > * {
  padding: 0.2rem;
  margin: 0.6rem;
}

.ProjectsForm button {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

.ProjectsForm button:disabled {
  visibility: hidden;
}

.ProjectsForm button:hover {
  background-color: black;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

#add_project_button {
  max-height: 4rem;
  min-width: 6rem;
  align-self: center;
  padding: 1rem;
  margin-top: 0;
}

.hiddenForm {
  display: none;
}

.form_validation_fail {
  color: red;
}

.form_validation_success {
  color: green;
}

.form_image_loader {
  background-image: url("https://createwebsite.net/wp-content/uploads/2015/09/Preload.gif");
  background-size: cover;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .ProjectsForm {
    width: 60vw;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .ProjectsForm {
    width: 80vw;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .ProjectsForm__form {
    max-width: 30vw;
  }
}

/* loginForm */

.loginForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: black;
  color: whitesmoke;
  padding: 4rem;
  border-radius: 10px;
}

.loginForm > * {
  padding: 1rem;
}

.loginForm button {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

.loginForm button:hover {
  background-color: black;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

#loginForm--error {
  min-height: 1rem;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .loginForm {
    width: 60%;
    padding: 5rem;
  }
}

.footer {
  font-family: "Lato", sans-serif;
  background-color: black;
  font-size: 1rem;
  color: white;
  height: 4vw;
  text-align: center;
  line-height: 4vw;
  bottom: 0;
}
