/* root variables */

:root {
  --main: rgb(236, 172, 94);
  --secondary-dark: rgb(9, 3, 1);
  --secondary-medium: rgb(64, 64, 64);
  --secondary-bright: rgb(231, 228, 225);
}

/* mobile first */

.html {
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
  padding-top: 5rem;
}

/* iPads (portrait) ----------- */
/* @media only screen and (min-width: 768px) {
  .container {
    padding: 4rem;
  }
} */

/* navbar */

.navbar {
  position: fixed;
  width: 100vw;
  background-color: var(--secondary-dark);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  z-index: 2;
  font-family: "Lato", sans-serif;
}

.navbar__links__menuButton {
  background-color: var(--secondary-dark);
  color: var(--secondary-bright);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar__links__menuButton:hover {
  background-color: var(--secondary-bright);
  color: var(--secondary-dark);
}

.navbar__links > * {
  color: var(--secondary-bright);
  margin-right: 3rem;
  border: none;
}

.navbar__links--link {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--secondary-dark);
  color: var(--secondary-bright);
  transition: 0.1s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar_toggleMenu {
  position: absolute;
  background-color: var(--secondary-dark);
  color: var(--secondary-bright);
  width: 100%;
  top: 0;
  right: 0;
  margin-top: 2.9rem;
  text-align: center;
  margin-right: 1rem;
  /* visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.1s ease-in; */
}

.hidden {
  display: none;
  /* visibility: hidden;
  opacity: 0; */
}

.navbar_toggleMenu > ul {
  list-style: none;
  padding-left: 0;
}

.navbar_toggleMenu > ul > li {
  padding: 0.5rem;
  transition: 0.1s ease-in-out;
}

.navbar_toggleMenu > ul > li:hover {
  background-color: var(--secondary-bright);
  color: var(--secondary-dark);
}

.navbar_toggleMenu > ul > li:hover a {
  background-color: var(--secondary-bright);
  color: var(--secondary-dark);
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .navbar_toggleMenu {
    width: 50%;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .navbar_toggleMenu {
    width: 25%;
  }
}

/* ------------------------------ */

.weekProjectDisplay {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weekProjectDisplay_projectBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekProjectDisplay_heading {
  width: 100vw;
  background-color: var(--secondary-medium);
  text-transform: uppercase;
  color: var(--secondary-bright);
  padding: 0.4rem;
  text-align: center;
  opacity: 0.7;
}

/* template card */
.projectCard {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 1rem;
}

.projectCard_image_div,
.projectCard_image {
  height: 58vw;
  /* width: 100vw; */
  background-color: darkgrey;
  object-fit: cover;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .projectCard_image_div,
  .projectCard_image {
    /* width: 60vw; */
    height: 14vw;
  }
  .projectCard {
    width: 24vw;
  }
  .weekProjectDisplay_projectBoard {
    flex-direction: row;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .projectCard_image_div,
  .projectCard_image {
    /* width: 24vw; */
    height: 14vw;
  }
  .projectCard {
    width: 24vw;
  }
  .weekProjectDisplay_projectBoard {
    flex-direction: row;
  }
}

.projectCard_image_div_IMG {
  width: 100%;
  object-fit: contain;
}

.projectCard_colaborators {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.projectCard_colaborators--div {
  position: relative;
  width: 15%;
  height: 15%;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.projectCard_colaborators--image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: grayscale(0);
  transition: all 0.3s ease 0s;
}

.projectCard_colaborators--div:hover .projectCard_colaborators--image {
  transform: scale(0.9);
  filter: grayscale(1);
}

/* collaborator image github link */

.projectCard_colaborators--link {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  line-height: 15vw;
  opacity: 0;
  color: whitesmoke;
  transition: all 0.3s ease 0s;
}

.projectCard_colaborators--div:hover .projectCard_colaborators--link {
  opacity: 1;
}

/* github link button */

.projectCard_github {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.projectCard_github:hover {
  color: #404040 !important;
  background: none;
}

/* login form */

.ProjectsForm {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 60vh;
  border: 2px solid black;
  border-radius: 5px;
}

.ProjectsForm__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProjectsForm__form > * {
  padding: 0.2rem;
  margin: 0.6rem;
}

.hiddenForm {
  display: none;
}

.form_validation_fail {
  color: red;
}

.form_validation_success {
  color: green;
}

.form_image_loader {
  background-image: url("https://createwebsite.net/wp-content/uploads/2015/09/Preload.gif");
  background-size: cover;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .ProjectsForm {
    width: 60vw;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .ProjectsForm {
    width: 80vw;
    flex-direction: row;
  }
  .ProjectsForm__form {
    max-width: 30vw;
  }
}

/* loginForm */

.loginForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: black;
  color: whitesmoke;
  padding: 4rem;
  border-radius: 10px;
}

.loginForm > * {
  padding: 1rem;
}

.loginForm button {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 5px;
}

.loginForm button:hover {
  background-color: black;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

#loginForm--error {
  min-height: 1rem;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) {
  .loginForm {
    width: 60%;
    padding: 5rem;
  }
}
